 <header><%= render 'shared/header' %></header><!-- Rotating photos of featured work -->

<div class='container-fluid'>
    <div class="col-md-2">
      <h3>Roberto Garcia Jr.</h3>
      <br>
      <br>
      <ul class="list-group">
         <li><%= link_to "Bronze Sculptures", roberto_bronze_path, method: :get %></li>
         <li>Monuments</li>
         <li>Paintings</li>
         <li>Bronze Bas-Reliefs)</li>
      </ul>
  </div>


<div class="col-md-8" >
  <div class="main-panel">
    <h2>View Artist Galleries</h2>
   <div class="single-item">
    <div><%= image_tag('luna.jpg', class: "image") %></div>
    <div><%= image_tag('big_boy.jpg', class: "image") %></div>
    <div><%= image_tag("walker.jpg", class: "image") %></div>
  </div>
  </div>
</div>

  <div class="col-md-2">
    <h3>Baby G. (Ana Garcia)</h3>
      <br>
      <br>
      <ul class="list-group">
       <li><%= button_to "Bronze Scupltures", ana_bronze_path, method: :get,  class: "ana_bronze" %></li>
       <li>Portraits</li>
       <li>Digital Paintings</li>
    </ul>
  </div>
</div>

<footer><%= render 'shared/footer' %></footer>




