<h1>Roberto & Ana  <small>Bronze, Painting, Casting</small></h1>

<div class="navbar">
  <%= link_to "Home   |", home_path, method: :get %>
  <%= link_to "About the Artists   |", about_path, method: :get %>
  <%= link_to "Roberto   |", roberto_gallery_path, method: :get %>
  <%= link_to "Ana   |", ana_gallery_path, method: :get %>
  <%= link_to "Commissions   |", commissions_path, method: :get %>
  <%= link_to "Contact", contact_path, method: :get %>
</div>
